---
---

:root {
    --text-color: #eee;
    --text-light: #ccc;
}

.layoutpage {
    color: var(--text-color);
    width: 95%;
    max-width: 950px;
    font-size: 1.1rem;

    h1,h2,h3 {
        padding-bottom: 1rem;
    }

    p {
        padding-bottom: 1rem;
    }

    a {
        color: var(--text-light);
        
        &:hover {
            color: var(--text-color);
        }
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        padding-top: 2.5rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2rem;
        padding-top: 1.5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.65rem;
        padding-top: 1.5rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }

    ul {
        list-style-type: disc;
    }
    
    ol {
        list-style-type: decimal;
    }

    ol, ul {
        margin: 0;
        padding: 1rem 2.5rem;
        list-style-position: outside;

        li {
            padding-bottom: 0.5rem;
        }

        ol, ul {
            padding-top: 0.5rem;
            padding-bottom: 0px;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}